<div class="text-white h-20 bg-gray-700  w-full shadow-lg font-bold rounded-t-full p-2 h-full">
    <div
        class="text-white text-sm   font-extralight flex flex-col-reverse md:flex-row   items-center justify-between mx-14 ">
        <div class=" w-full text-center">
            <p class="text-xs lg:text-sm">Applicatie gebouwd door <a class="underline underline-offset-4 decoration-emerald-400"
                    href="https://idapt.be">idapt.be</a></p>
        </div>
        <div class=" w-full text-center">            <p class="text-md font-bold">Houten plaat op maat - online</p>
            <p>Westmolenstraat 8 <br /> 8020 Ruddervoorde (Regio Brugge)</p>


        </div>


    </div>

</div>