<section class=" py-8">
    <div class="flex items-center justify-center">
        <div class=" lg:w-3/4 flex  flex-col items-start  sm:w-full  lg:p-0 sm:p-16">
            <h1
                class="text-shadow mb-8  w-full text-gray-800 sm:text-3xl md:text-4xl text-3xl text-center md:text-left font-extrabold font-raleway leading-8 tracking-tighter my-10   underline decoration-emerald-400   ">
                Admin</h1>

            <div>
                <button class="my-2 px-4 py-2 bg-gray-700 hover:bg-gray-400 rounded-full text-white  flex flex-row items-center"><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4   font-bold">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <p class="">Toevoegen</p>
                </button>
            </div>
            <div class="flex flex-row items-center justify-center">
                <app-stock-overview></app-stock-overview>
            </div>

            


        </div>

    </div>
</section>