<section>
    <div class="flex items-center justify-center">
        <div class=" lg:w-3/4 flex  flex-col items-start  sm:w-full  lg:p-0 sm:p-16">
            <h1
                class="text-shadow mb-8  w-full text-gray-800 sm:text-3xl md:text-4xl text-3xl text-center md:text-left font-extrabold font-raleway leading-8 tracking-tighter my-10   underline decoration-emerald-400   ">
                Houten Plaat Op Maat - Online</h1  >
            <div class="text-left	 bg-white rounded-md text-gray-700 mb-8    ">
                <div class=" bg-gray-100 rounded-md p-8">
                    <h2 class="text-xl font-bold leading-6 decoration-emerald-600  tracking-tighter mb-4   ">Bestel uw hout eenvoudig online. </h2>
                    <p class="lg:w-3/4 text-justify mb-4    ">

                        Bij ons kunt u eenvoudig uw  <span class="font-bold underline decoration-emerald-400 ">houtwerk op maat laten zagen</span> en online bestellen. Selecteer de
                        gewenste
                        afmetingen, het type hout, en wij gaan aan de slag. Bent u woonachtig in de regio Groot-Brugge?
                        Dan
                        bieden wij de optie om uw verzaagd hout <span class="font-bold underline decoration-emerald-400 ">tot aan uw deur</span> te leveren, zodat u zich geen zorgen
                        hoeft
                        te maken over transport.

                        <span class="font-bold underline decoration-emerald-400 ">Liever zelf afhalen?</span> kan uiteraard ook! Zodra uw bestelling klaar is, komt u het gewoon
                        ophalen
                        wanneer het u uitkomt. Zo combineren we <span class="font-bold underline decoration-emerald-400">gemak en flexibiliteit</span>, afgestemd op uw wensen. Kies
                        voor
                        onze service en geniet van snel, kwalitatief en op maat gemaakt houtwerk!

                    </p>
                    <button
                        class="bg-slate-700 text-white py-1 px-3 rounded my-2 hover:bg-slate-400 ">Contact</button>
                </div>
            </div>
            <div class="md:flex  md:flex-row ">

                <app-wood-card-filter></app-wood-card-filter>
                <app-wood-card-list></app-wood-card-list>
            </div>

        </div>

    </div>
</section>